.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.1rem;

  .navbar-container {
    .navbar {
      display: flex;

      .nav-item {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        .nav-link {
          &:hover {
            color: orangered;
          }
        }
      }
    }
  }

  .form-container {
    .form-wrapper {
      .form-holder {
        border: 1px solid black;
        border-radius: 0.5rem;

        .form-text {
          border: none;
          outline: none;
          margin: 0.5rem;
        }

        .button-btn {
          border: none;
          outline: none;
          border-radius: 0 0.5rem 0.5rem 0;
          background-color: orangered;
          padding: 0.5rem 1rem;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .cart-container {
    .cart-wrapper {
      .cart-item {
        .cart-link {
          &:hover {
            color: orangered;
          }
        }
      }
    }
  }

  .account-container {
    .account-wrapper {
      display: flex;

      .account-item {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        .account-link {
          &:hover {
            color: orangered;
          }
        }
      }
    }
  }
}
